@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9842 0.0034 247.8575);
  --foreground: oklch(0.2077 0.0398 265.7549);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2077 0.0398 265.7549);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2077 0.0398 265.7549);
  --primary: oklch(0.4066 0.1424 256.6719);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7654 0.1623 68.122);
  --secondary-foreground: oklch(0.2663 0.0844 253.8763);
  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9506 0.0172 248.0089);
  --accent-foreground: oklch(0.4066 0.1424 256.6719);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(1 0 0);
  --ring: oklch(0.7654 0.1623 68.122);
  --chart-1: oklch(0.4066 0.1424 256.6719);
  --chart-2: oklch(0.7654 0.1623 68.122);
  --chart-3: oklch(0.8224 0.1469 73.9751);
  --chart-4: oklch(0.6847 0.1479 237.3225);
  --chart-5: oklch(0.2795 0.0368 260.031);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-primary: oklch(0.4066 0.1424 256.6719);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9771 0.0125 236.6197);
  --sidebar-accent-foreground: oklch(0.4066 0.1424 256.6719);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.7654 0.1623 68.122);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: DM Serif Text, ui-serif, serif;
  --font-mono: DM Mono, ui-monospace, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #001129;
  --shadow-2xs: 0px 4px 16px 0px hsl(215.122 100% 8.0392% / 0.2);
  --shadow-xs: 0px 4px 16px 0px hsl(215.122 100% 8.0392% / 0.2);
  --shadow-sm: 0px 4px 16px 0px hsl(215.122 100% 8.0392% / 0.4), 0px 1px 2px -1px hsl(215.122 100% 8.0392% / 0.4);
  --shadow: 0px 4px 16px 0px hsl(215.122 100% 8.0392% / 0.4), 0px 1px 2px -1px hsl(215.122 100% 8.0392% / 0.4);
  --shadow-md: 0px 4px 16px 0px hsl(215.122 100% 8.0392% / 0.4), 0px 2px 4px -1px hsl(215.122 100% 8.0392% / 0.4);
  --shadow-lg: 0px 4px 16px 0px hsl(215.122 100% 8.0392% / 0.4), 0px 4px 6px -1px hsl(215.122 100% 8.0392% / 0.4);
  --shadow-xl: 0px 4px 16px 0px hsl(215.122 100% 8.0392% / 0.4), 0px 8px 10px -1px hsl(215.122 100% 8.0392% / 0.4);
  --shadow-2xl: 0px 4px 16px 0px hsl(215.122 100% 8.0392% / 1);
  --tracking-normal: -0.015em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1363 0.0364 259.201);
  --foreground: oklch(0.9842 0.0034 247.8575);
  --card: oklch(0.2077 0.0398 265.7549);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.2077 0.0398 265.7549);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.6231 0.188 259.8145);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.7654 0.1623 68.122);
  --secondary-foreground: oklch(0.2077 0.0398 265.7549);
  --muted: oklch(0.2077 0.0398 265.7549);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.2795 0.0368 260.031);
  --accent-foreground: oklch(0.9842 0.0034 247.8575);
  --destructive: oklch(0.3123 0.0852 29.7877);
  --destructive-foreground: oklch(0.9368 0.0045 34.3092);
  --border: oklch(0.2795 0.0368 260.031);
  --input: oklch(0.1363 0.0364 259.201);
  --ring: oklch(0.7654 0.1623 68.122);
  --chart-1: oklch(0.6231 0.188 259.8145);
  --chart-2: oklch(0.7654 0.1623 68.122);
  --chart-3: oklch(0.8224 0.1469 73.9751);
  --chart-4: oklch(0.7535 0.139 232.6615);
  --chart-5: oklch(0.5544 0.0407 257.4166);
  --sidebar: oklch(0.1363 0.0364 259.201);
  --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-primary: oklch(0.6231 0.188 259.8145);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.2795 0.0368 260.031);
  --sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-border: oklch(0.2795 0.0368 260.031);
  --sidebar-ring: oklch(0.7654 0.1623 68.122);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: DM Serif Text, ui-serif, serif;
  --font-mono: DM Mono, ui-monospace, monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.2);
  --shadow-sm: 0px 4px 16px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow: 0px 4px 16px 0px hsl(0 0% 0% / 0.4), 0px 1px 2px -1px hsl(0 0% 0% / 0.4);
  --shadow-md: 0px 4px 16px 0px hsl(0 0% 0% / 0.4), 0px 2px 4px -1px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0px 4px 16px 0px hsl(0 0% 0% / 0.4), 0px 4px 6px -1px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.4), 0px 8px 10px -1px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    letter-spacing: var(--tracking-normal);
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
